.App {
  text-align: center;
  width: 100%;

}

.first-section{
  width: 400px;
  float: left;
}

.second-section{
  float: right;
  width: 400px;
}

.pokemon-image{
  margin-top: 10%;
}

.boton-ataque {
  padding: 1rem 2rem;
  border-radius: 32px;
  font-size: 16px;
  margin-top: 2%;
}